In [101]:
import pandas as pd
import json
import requests
from pandas.io.json import json_normalize
from pprint import pprint
 
# Define a function to get info from the FPL API and save to the specified file_path
# It might be a good idea to navigate to the link in a browser to get an idea of what the data looks like

# base url for all FPL API endpoints
base_url = 'https://fantasy.premierleague.com/api/'

# get data from bootstrap-static endpoint
r = requests.get(base_url+'bootstrap-static/').json()

r.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

ALL TEAMS DATA

In [107]:
pd.json_normalize(r['events']).columns

Index(['id', 'name', 'deadline_time', 'average_entry_score', 'finished',
       'data_checked', 'highest_scoring_entry', 'deadline_time_epoch',
       'deadline_time_game_offset', 'highest_score', 'is_previous',
       'is_current', 'is_next', 'cup_leagues_created',
       'h2h_ko_matches_created', 'chip_plays', 'most_selected',
       'most_transferred_in', 'top_element', 'transfers_made',
       'most_captained', 'most_vice_captained', 'top_element_info.id',
       'top_element_info.points', 'top_element_info'],
      dtype='object')

In [117]:
pd.json_normalize(r['events'])[['id', 'name', 'transfers_made']]

    id         name  transfers_made
0    1   Gameweek 1               0
1    2   Gameweek 2        12847501
2    3   Gameweek 3        20175060
3    4   Gameweek 4        16105042
4    5   Gameweek 5        14741619
5    6   Gameweek 6        17124386
6    7   Gameweek 7        12077352
7    8   Gameweek 8        16564094
8    9   Gameweek 9        12472016
9   10  Gameweek 10        14157431
10  11  Gameweek 11        11588004
11  12  Gameweek 12        21653375
12  13  Gameweek 13         9252252
13  14  Gameweek 14         9082241
14  15  Gameweek 15        11671281
15  16  Gameweek 16         9409100
16  17  Gameweek 17        34847087
17  18  Gameweek 18         7006320
18  19  Gameweek 19         7420814
19  20  Gameweek 20        11748364
20  21  Gameweek 21         8746820
21  22  Gameweek 22        12790678
22  23  Gameweek 23               0
23  24  Gameweek 24               0
24  25  Gameweek 25               0
25  26  Gameweek 26               0
26  27  Gameweek 27               0
27  28  Gameweek 28               0
28  29  Gameweek 29               0
29  30  Gameweek 30               0
30  31  Gameweek 31               0
31  32  Gameweek 32               0
32  33  Gameweek 33               0
33  34  Gameweek 34               0
34  35  Gameweek 35               0
35  36  Gameweek 36               0
36  37  Gameweek 37               0
37  38  Gameweek 38               0

In [118]:
pd.json_normalize(r['events']).average_entry_score

0     57
1     57
2     48
3     62
4     62
5     45
6      0
7     50
8     68
9     58
10    46
11    39
12    51
13    59
14    53
15    43
16    72
17    48
18    49
19    59
20    65
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
30     0
31     0
32     0
33     0
34     0
35     0
36     0
37     0
Name: average_entry_score, dtype: int64

In [17]:
# teams information
teams = pd.json_normalize(r['teams'])
teams

,code,draw,form,id,loss,name,played,points,position,short_name,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,0,ARS,...,None,False,0,1220,1270,1240,1250,1200,1270,1
1,7,0,None,2,0,Aston Villa,0,0,0,AVL,...,None,False,0,1090,1100,1110,1130,1090,1110,2
2,91,0,None,3,0,Bournemouth,0,0,0,BOU,...,None,False,0,1060,1090,1070,1130,1050,1080,127
3,94,0,None,4,0,Brentford,0,0,0,BRE,...,None,False,0,1100,1130,1100,1110,1130,1160,130
4,36,0,None,5,0,Brighton,0,0,0,BHA,...,None,False,0,1150,1160,1140,1160,1170,1190,131
5,8,0,None,6,0,Chelsea,0,0,0,CHE,...,None,False,0,1200,1220,1200,1210,1180,1210,4
6,31,0,None,7,0,Crystal Palace,0,0,0,CRY,...,None,False,0,1100,1140,1100,1170,1080,1140,6
7,11,0,None,8,0,Everton,0,0,0,EVE,...,None,False,0,1080,1100,1080,1080,1080,1080,7
8,54,0,None,9,0,Fulham,0,0,0,FUL,...,None,False,0,1075,1100,1070,1070,1100,1130,34
9,13,0,None,10,0,Leicester,0,0,0,LEI,...,None,False,0,1130,1130,1080,1160,1180,1120,26
10,2,0,None,11,0,Leeds,0,0,0,LEE,...,None,False,0,1100,1100,1080,1090,1140,1130,9
11,14,0,None,12,0,Liverpool,0,0,0,LIV,...,None,False,0,1300,1350,1270,1300,1320,1360,10
12,43,0,None,13,0,Man City,0,0,0,MCI,...,None,False,0,1350,1370,1340,1350,1360,1370,11
13,1,0,None,14,0,Man Utd,0,0,0,MUN,...,None,False,0,1150,1220,1130,1180,1170,1230,12
14,4,0,None,15,0,Newcastle,0,0,0,NEW,...,None,False,0,1160,1210,1180,1210,1150,1200,23
15,17,0,None,16,0,Nott'm Forest,0,0,0,NFO,...,None,False,0,1045,1080,1050,1070,1040,1100,15
16,20,0,None,17,0,Southampton,0,0,0,SOU,...,None,False,0,1090,1100,1090,1090,1080,1100,20
17,6,0,None,18,0,Spurs,0,0,0,TOT,...,None,False,0,1190,1230,1170,1210,1180,1220,21
18,21,0,None,19,0,West Ham,0,0,0,WHU,...,None,False,0,1100,1120,1130,1130,1110,1130,25
19,39,0,None,20,0,Wolves,0,0,0,WOL,...,None,False,0,1100,1100,1130,1120,1080,1080,38

Players

In [60]:
players = pd.json_normalize(r['elements'])
players.columns

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'starts', 'expected_goals', 'expected_assists',
       'expected_goal_involvements', 'expected_goals_conceded',
       'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text',
       'expected_goals_per_90', 'saves_per_90', 'expected_assists_per_90',
       'expected_goal_involvements_per_90', 'expected_goals_conceded_per_90',
       'goals_conceded_per_90', 'now_cost_rank', 'now_cost_rank_type',
       'form_rank', 'form_rank_type', 'points_per_game_rank',
       'points_per_game_rank_type', 'selected_rank', 'selected_rank_type',
       'starts_per_90', 'clean_sheets_per_90'],
      dtype='object')

In [61]:
# use map to get players teams
players=players[['second_name', 'team', 'selected_by_percent', 'now_cost', 'value_season', 'total_points', 'minutes', 'transfers_in']]
players['players_team']=players.team.map(teams.set_index('id').name)

In [62]:
players['value_season']=players['value_season'].astype('float')

In [63]:
players.sort_values('value_season', ascending=False)

,second_name,team,selected_by_percent,now_cost,value_season,total_points,minutes,transfers_in,players_team
521,Trippier,15,69.4,61,23.1,141,1774,6456531,Newcastle
113,Raya Martin,4,9.1,47,19.4,91,1800,1295543,Brentford
533,Almirón Rejala,15,35.4,58,19.3,112,1656,5492835,Newcastle
522,Burn,15,4.1,46,18.9,87,1674,566128,Newcastle
541,Botman,15,6.3,45,18.9,85,1507,883128,Newcastle
...,...,...,...,...,...,...,...,...,...
342,Vestergaard,10,5.7,39,0.0,0,0,534589,Leicester
339,Bertrand,10,0.0,39,0.0,0,0,3998,Leicester
733,Gomes da Silva,20,0.0,45,0.0,0,0,173,Wolves
225,Tomkins,7,0.9,39,-0.3,-1,154,140465,Crystal Palace
218,Félix Sequeira,6,0.2,75,-0.3,-2,57,49215,Chelsea

LEAGUE

In [299]:
r = requests.get(base_url+'leagues-classic/511267/standings').json()
r.keys()
league_standings=pd.DataFrame(pd.json_normalize(r['standings']).results[0])
league_standings = league_standings[['player_name', 'entry_name', 'rank', 'total']]
league_standings

            player_name            entry_name  rank  total
0    Kiran (FPL Brains)        A Pain in Diaz     1   1363
1        Harvey Elvidge         Jesus Is King     2   1285
2           Daniel Wood            Ha Ha Land     3   1270
3           Brad Pinard           Brad’s Lads     4   1270
4           Brian Milne          KantéBeArsed     5   1259
5          Alex Leonard       Mohamed ElLenny     6   1246
6        Henry Crossman        Henners Giants     7   1241
7            Edd Austin  the barclays is back     8   1220
8             Jai Manku               Badgers     9   1212
9   Taylor Rice-Burnett      FC PasstheCorona    10   1194
10           Dan Gummer        Team Name TBFC    11   1168
11            Chris Old     Howe’s the bacon?    12   1163
12            Shaun Lou       Eze on, Eze off    13   1157
13           Adam Miles     Haalandaise Sauce    14   1141
14  George Karmpoulonis     Game of Throw-ins    15   1125
15          Josh Mahony  Kreonke franchise fc    16   1085
16          Tony Nguyen             Sorry Son    17   1053
17     Aoife McGuinness            Mean Goals    18   1004

In [122]:
# League Name
pd.json_normalize(r['league']).name

0    IG's CBH Marketing FPL 22/23
Name: name, dtype: object

In [209]:
# League data including everyones position and ids
manager_details = pd.DataFrame(pd.json_normalize(r['standings']).results[0])
manager_details = manager_details[['entry', 'entry_name', 'player_name']]
manager_details.rename(columns={'entry': 'team_id', 'entry_name':'team_name', 'player_name':'player_name'}, inplace=True)

In [183]:
# Summary Of FPL Points For Each Manager
r = requests.get(base_url+'entry/7852/history/').json()
r.keys()
pd.json_normalize(r['current'])

dict_keys(['current', 'past', 'chips'])

In [205]:
# Get league ranking data

def past_data_getter(id: int):
    base_url = 'https://fantasy.premierleague.com/api/'
    r = requests.get(base_url+'entry/{}/history/'.format(id)).json()
    df = pd.json_normalize(r['current'])
    df['id_cell']='{}'.format(id)
    return df

In [206]:
# get each persons league ids
r = requests.get(base_url+'leagues-classic/511267/standings').json()
league_ids=pd.DataFrame(pd.json_normalize(r['standings']).results[0])['entry']

In [207]:
data_frame_list = []

for i in league_ids:
    df = past_data_getter(i)
    data_frame_list.append(df)
merged_data = pd.concat(data_frame_list , axis = 0)

In [213]:
# CHIPS USED FUNCTION
def chips_used_getter(id: int):
    base_url = 'https://fantasy.premierleague.com/api/'
    r = requests.get(base_url+'entry/{}/history/'.format(id)).json()
    df = pd.json_normalize(r['chips'])
    df['id_cell']='{}'.format(id)
    return df

In [217]:
empty_df = []
for i in league_ids:
        df = chips_used_getter(i)
        empty_df.append(df)
merged_data_2 = pd.concat(empty_df, axis = 0)

In [243]:
merged_data_2['id_cell']=merged_data_2['id_cell'].astype('int')

In [263]:
chips_used_df = pd.merge(merged_data_2, manager_details, how = 'left', left_on = 'id_cell', right_on = 'team_id')

In [271]:
chips_used_df[['player_name', 'name']]

conditions = [chips_used_df['name']=='wildcard', chips_used_df['name']=='bboost', chips_used_df['name']=='3xc', chips_used_df['name']=='freehit']

values = ['wildcard', 'bench boost', 'triple captain', 'freehit']

chips_used_df['chips']=np.select(conditions, values)
chips_used_df

chips_count = chips_used_df[['player_name', 'name']].groupby(by='player_name').count()

In [277]:
chips_count_by_chip = chips_used_df[['player_name', 'chips', 'name']].groupby(by=['player_name', 'chips']).count()

In [283]:
merged_data['id_cell']=merged_data['id_cell'].astype('int')

In [285]:
manager_data = pd.merge(merged_data, manager_details, left_on= 'id_cell', right_on= 'team_id', how = 'left')

In [ ]:
# Next Step Get General Information On All Accounts And Join Together and clean up data files before export